.graph {
    height: 100vh;
    width: 85vw;
    background-color: #151515;
    flex: 0 0 85vw;
}

.search {
    height: 100vh;
    background: #202020;
    flex: 1;
    text-align: center;
    position: relative;
}

.search-bar {
    height: 30px;
    color: white;
    background: #101010;
    font-family: Bahnschrift;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 72%;
}

.search-result {
    font-family: Bahnschrift;
    background-color: #303030;
    color: white;
    width: 72%;
    margin: auto;
    border: none;
}

.course-info { 
    height: 100px;
    width: 100px;
    background: #202020;
    text-align: center;
}

.Legend {
    font-family: Bahnschrift;
    background-color: #303030;
    color: white;
    width: 25%;
    margin: auto;
    border: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-align: left;
}

.NodeInformation {
    font-family: Bahnschrift;
    background-color: #303030;
    color: white;
    width: 25%;
    margin: auto;
    border: none;
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: left;
}